button{
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;    
    color: white;
    border:  2px solid white;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
    text-decoration: none;
    color: white
}

.counterSpaint {

    padding: 25px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border:  8px solid black;
    margin-bottom: 15px;
    text-decoration: none;
}

div span {
    font-size: 40px;
    color: #000000;
}