nav {
    background-color: white;
    padding: 10px 30px;
    position: sticky;
    z-index: 2;
    top: 0;
    opacity: 0.9;
    font-size: 1.9rem;

}

nav div ul{color: white;
}

nav div ul li {font-family: fantasy;
    font-size: 1.9rem;

}
.color{color: black;
}

.color2{background-color:  white;
}

img{
width: 50%;
opacity: 0,9;
}